<h1> <%= @vendor.name %> </h1>
<br>
<h3> Contact Information </h3>
Name: <%= @vendor.contact_name %> <br>
Phone: <%= @vendor.contact_phone %> <br>
Credit Accepted?: <%= @vendor.credit_accepted %> <br>
Description: <%= @vendor.description %> <br>